<p id="notice"><%= notice %></p>

<h1>Opus</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Designer</th>
      <th>Year</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opus.each do |opu| %>
      <tr>
        <td><%= opu.title %></td>
        <td><%= opu.designer %></td>
        <td><%= opu.year %></td>
        <td><%= opu.image_url %></td>
        <td><%= link_to 'Show', opu %></td>
        <td><%= link_to 'Edit', edit_opu_path(opu) %></td>
        <td><%= link_to 'Destroy', opu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opu', new_opu_path %>
